{% extends 'base.html.twig' %}

{% block content %}


           {# {% for disponibilite in disponibilites %}

                        <h4>{{ disponibilite.tec }}</h4>



            {% endfor %}#}


<body>
    <h1>toute les disponibilites</h1>

    <table border="3">

            <tr>
                <th >#</th>
                <th >tec</th>
                <th >Heuredeb</th>
                <th >Heurefin</th>
                <th >Actions</th>
            </tr>


        {% for disponibilite in disponibilites %}
            <tr>
                <th scope="row"><a href="{{ path('disponibilite_show', { 'id': disponibilite.id }) }}">{{ disponibilite.id }}</a></th>
                <td>{{ disponibilite.tec }}</td>

                <td>{% if disponibilite.heureDeb %}{{ disponibilite.heureDeb|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if disponibilite.heureFin %}{{ disponibilite.heureFin|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('disponibilite_show', { 'id': disponibilite.id }) }}">details</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}

    </table>
</body>

    
{% endblock %}
